/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .posts {
    margin: 1rem 2rem;
  }

  .postDetail {
    margin: 1rem 2rem;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .posts .post .image {
    border-radius: 15px;
  }

  .posts {
    margin: 1rem 5rem;
  }

  .postDetail {
    margin: 1rem 10rem;
  }
}